<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
<!--
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ctrl+P  - Página de Serviços
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="profilecard">
      <ion-card-header>
        <ion-avatar>
          <img src="https://b.catgirlsare.sexy/4bLZ.png">
        </ion-avatar>
        <ion-card-title><ion-text color="light">Olá, Kledyson Goes</ion-text></ion-card-title>
        <ion-card-subtitle><ion-text color="light">Você está logado como um artista</ion-text></ion-card-subtitle>
        <ion-button>Trocar para usuário</ion-button><ion-button>Sair</ion-button>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header class="avisocolor"><ion-text color="light">Aviso: Caso pegue algum serviço pedimos que por favor produza o mesmo até o fim, caso contrário, será negativado pontos de reputação</ion-text></ion-card-header>
    </ion-card>
    <ion-card class="cards">

    </ion-card>
</ion-content>
-->
