.profilecard {
  background-color: #4E4E4E; // black
  max-height: 35vh;
  overflow: hidden;
}
.card {
  background-color: #000; // black
}
.avisocolor {
  background-color: #E03A3E;
}
.grey {
  background-color: grey;
}
.cards{
  background-color: #009DDC;
}
