<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ctrl+P  - Página de Solicitação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="Bem-Vindo ao App do Ctrl+P">
      <ion-card-header>
        <ion-avatar>
          <img src="https://b.catgirlsare.sexy/4bLZ.png">
        </ion-avatar>
        <ion-card-title>Olá, Kledyson Goes</ion-card-title>
        <ion-card-subtitle>Enviando para o endereço: Rua São Jorge, 318</ion-card-subtitle>
        <ion-button>Trocar endereço</ion-button><ion-button>Sair</ion-button>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>Aviso: Preencha todas informações solicitadas para que seu projeto fiquei disponivel em nosso sistema, para que assim, algum artista possa produzir</ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>1.1 - Informações Básicas</ion-card-header>
      <ion-card-title>Qual nome do projeto?</ion-card-title>
      <ion-card-subtitle>*input*</ion-card-subtitle>
    </ion-card>
</ion-content>
